<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&family=Urbanist:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="second.css">

</head>

<body>
    <!-- <h2>Gym for every fat bitch</h2> -->
    <div id="starter">
    <nav id="navbar">
        <div id="box1">
            <a href="indexgym.html"><img src="gymlogo2.png" alt="Logo"></a>
        </div>
        <!--  -->
        <!-- <div id="box2"> -->
        <!-- <h5>Navigation Bar</h5> -->
        <ul id=navigation>
            <li><a href="#">Registration</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Reviews/Comments</a></li>
        </ul>
        <!-- </div> -->
        <!--  -->
        <!-- <div id="box3">
            <p><a href="#">Some buttons</a> </p>
        </div> -->
    </nav>

    <!-- Section-01 of the body -->

    <section id="home">
        <div id="welcome">
            <h2>welcome to the best GYM in the city</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex consectetur sit laudantium quos, voluptatem
                eum quas incidunt eius soluta ducimus dolorum necessitatibus molestias cum maxime et suscipit,
                dignissimos eos sequi? Impedit ipsa repellat commodi.</p>
        </div>
    </section>

    <!-- Section-02 of the body -->

    <section id="section2">
        <h1>Our Services</h1>
        <div id="services">
            <a class="linkningtags" href="#">
                <div class="box" id="inside1">
                    <img src="gympic1.jpg"></img>
                    <h2>Personalized diet plan by a trainer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nostrum obcaecati libero nam
                        possimus, omnis, eveniet magnam qui tempora sunt blanditiis, aliquid voluptas.
                    </p>
                </div>
            </a>

            <a class="linkningtags" href="#">
                <div class="box" id="inside2">
                    <img src="gympic2.jpg" class="abc"></img>
                    <h2>Body Mass Index Calculator</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nostrum obcaecati libero nam
                        possimus, omnis, eveniet magnam qui tempora sunt blanditiis, aliquid voluptas.
                    </p>
                </div>
            </a>

            <a class="linkningtags" href="#">
                <div class="box" id="inside3">
                    <img src="gympic3.png"></img>
                    <h2>Meal Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nostrum obcaecati libero nam
                        possimus, omnis, eveniet magnam qui tempora sunt blanditiis, aliquid voluptas.
                    </p>
                </div>
            </a>

        </div>
    </section>


    <!-- Creating a comment section -->
    <section id="app">
        <h2 id="heading">Submit your reviews or past comments!</h2>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="comment">
                        <p v-for="items in item" v-text="items"></p>
                    </div>
                    <!--End Comment-->
                </div>
                <!--End col -->
            </div><!-- End row -->
            <div class="row">
                <div class="col-6">
                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
                        @keyup.enter="addItem()"></textarea>
                    <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add
                        Comment</button>
                </div><!-- End col -->
            </div>
            <!--End Row -->
        </div>
        <!--End Container -->
    </section><!-- end App -->
</div>

    <!-- Vue JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

    <script>
        $(document).ready(function () {

            $(".primaryContained").on('click', function () {
                $(".comment").addClass("commentClicked");
            });//end click
            $("textarea").on('keyup.enter', function () {
                $(".comment").addClass("commentClicked");
            });//end keyup
        });//End Function

        new Vue({
            el: "#app",
            data: {
                title: 'Add a comment',
                newItem: '',
                item: [],
            },
            methods: {
                addItem() {
                    this.item.push(this.newItem);
                    this.newItem = "";
                }
            }

        });
    </script>
</body>

</html>